@use "reset" as *;
@use "variables/global" as *;
@use "themes/normal" as *;
@use "themes/dark" as *;
@use "themes/purple" as *;
@use "fonts";
@use "typography";

html {
  font-size: 10px;
  --main-font: 'Pdfdin', 'Helvetica Neue', 'Arial', sans-serif;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1361px) {
  html{
    font-size: 10px;
  }
}

body {
  color: var(--text-color)
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.content-page {
  width: 100%;
}