@use "../../../app/styles/variables/global" as *;


.notFoundPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @include text700;
  color: var(--notification-color)
}