.app_dark_theme {
  //--bg-color: #090949;
  //--inverted-bg-color: #e8e8ea;
  //--primary-color: #04ff04;
  //--secondary-color: #049604;
  //--inverted-primary-color: #0232c2;
  //--inverted-secondary-color: #0452ff;
  //
  //--skeleton-color: #1515ad;
  //--skeleton-shadow:#2b2be8;
  //
  //--code-bg: #1212a1;
  //
  //--card-bg: #111183;



  //forex

  //--accent-color: #159A35;
  --main-color: #161D26;
  --login-bg: #0B0E13;
  //--btn-color: #202020;
  --secondaryy-color: #12181F; //login from bg, navbar, sidebar
  //--text-color: #FFFFFF;
  //--text-secondary-color: #C2C2C2;
  --text-tertiary-color: #808195;
  --icon-color: #C4C4C4;
  --icon-secondary-color: #F0F4F7;
  --notification-color: #FF3E46;
  --helper-color: #FB774A;



  --accent-color: #159A35;
  --accent-2-color: #1D70B7;
  --bg-color: #202020;
  --text-color: #fff;
  --text-secondary-color: #D6D6D6;
  --text-2-secondary-color: #B5B5B5;
  --particle-grey: #4D4E4F;
}
