.app_purple_theme {
  --bg-color: #F9F4FB;
  --inverted-bg-color: #550877;
  --primary-color: #1B0995;
  --secondary-color: #6b0796;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;

  --skeleton-color: #6415ad;
  --skeleton-shadow: #772be8;

  --code-bg: #fff;

  --card-bg: #c0c0c0;


  //forex

  --accent-color: #9B59B6; /* насыщенный фиолетовый */
  --background-color: #F6F2FF; /* светлый лавандовый фон */
  --main-color: #FFFFFF; /* белый фон */
  --login-bg: #D4A5FF; /* светлый лавандовый для фона формы */
  --secondaryy-color: #8E44AD; /* темный фиолетовый для навбара */
  --text-color: #2C3E50; /* темно-синий для текста */
  --text-secondary-color: #8E44AD; /* фиолетовый для вторичного текста */
  --text-tertiary-color: #7F8C8D; /* нейтральный серый для менее важного текста */
  --icon-color: #9B59B6; /* фиолетовые иконки */

  --notification-color: #E74C3C; /* насыщенный красный для уведомлений */
  --helper-color: #F39C12; /* теплый желтый для подсказок */

}


